////// F O N T S //////

$basic-font: "OpenSans", "Helvetica", sans-serif;
$semibold-font: "OpenSans Semibold", "Helvetica", sans-serif;
$italic-font: "OpenSans Italic", "Helvetica", sans-serif;
$bold-font: "OpenSans Bold", "Helvetica", sans-serif;
$light-font: "OpenSans Light", "Helvetica", sans-serif;
$lightitalic-font: "OpenSans Light Italic", "Helvetica", sans-serif;

////// C O L O U R S //////

$theme-color: #ae2044;
$text-color: #404252;
$light-text-color: #5c5d70;
$blog-text-color: #4b4d5c;
$contact-text-color: #333333;
